<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxe0135baa2b2554e8</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
		<string>wechaT</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV4</string>
		<string>jdmobilE</string>
		<string>openApp.jdMobile</string>
		<string>openapp.jdmobile</string>
		<string>openjdlite</string>
		<string>openapp.jdpingou</string>
		<string>taobao</string>
		<string>taobaolite</string>
		<string>taobaolive</string>
		<string>taobaotravel</string>
		<string>tbopen</string>
		<string>tmall</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>iMeituan</string>
		<string>meituanwaimai</string>
		<string>ctrip</string>
		<string>palfish-read</string>
		<string>douyutv</string>
		<string>fleamarket</string>
		<string>youku</string>
		<string>sinaweibohd</string>
		<string>weibosdk</string>
		<string>sinaweibo</string>
		<string>baidumobads</string>
		<string>itms-beta</string>
		<string>pddopeN</string>
		<string>pinduoduO</string>
		<string>snssdk35</string>
		<string>snssdk1128</string>
		<string>snssdk1112</string>
		<string>snssdk2329</string>
		<string>vipshop</string>
		<string>dewuapp</string>
		<string>suning</string>
		<string>suningebuy</string>
		<string>iting</string>
		<string>baiduhaokan</string>
		<string>lianjia</string>
		<string>lianjiabeike</string>
		<string>usage_crazyreader</string>
		<string>dianping</string>
		<string>pajkdoctor</string>
		<string>eleme</string>
		<string>onetravel</string>
		<string>qunariphone</string>
		<string>xhsdiscover</string>
		<string>bilibili</string>
		<string>mttbrowser</string>
		<string>dragon1967</string>
		<string>ttnewssso</string>
		<string>wbmain</string>
		<string>awemesso</string>
		<string>douyinopensdk</string>
		<string>mp1089867489</string>
		<string>sohuvideo-iphone</string>
		<string>quark</string>
		<string>momochat</string>
		<string>bdboxiosqrcode</string>
		<string>freereader</string>
		<string>ucbrowser</string>
		<string>gifshow</string>
		<string>weishiiosscheme</string>
		<string>qqnews</string>
		<string>qmkege</string>
		<string>yymobile</string>
		<string>yykiwi</string>
		<string>sinanews</string>
		<string>paesuperbank</string>
		<string>qiyi-iphone</string>
		<string>iqiyi</string>
		<string>baidumap</string>
		<string>openanjuke</string>
		<string>bds</string>
		<string>shuabao</string>
		<string>orpheuswidget</string>
		<string>qqmusic</string>
		<string>zhihu</string>
		<string>cmblife</string>
		<string>iosamap</string>
		<string>sinafinance</string>
		<string>zhwnl</string>
		<string>kugouURL</string>
		<string>kwai</string>
		<string>ksnebula</string>
		<string>BaiduIMShop</string>
		<string>com.sogou.sogouinput</string>
		<string>tenvideo</string>
		<string>qmtoken</string>
		<string>dzhiphone</string>
		<string>doubanradio</string>
		<string>amihexin</string>
		<string>rm434209233MojiWeather</string>
		<string>com.kuwo.kwmusic.kwmusicForKwsing</string>
		<string>camcard</string>
		<string>camscanner</string>
		<string>com.kingsoft.powerword.6</string>
		<string>comIfeng3GifengNews</string>
		<string>buka</string>
		<string>yddictproapp</string>
		<string>gtgj</string>
		<string>elongiPhone</string>
		<string>baiduvideoiphone</string>
		<string>wireless1688</string>
		<string>bitauto.yicheapp</string>
		<string>app.soyoung</string>
		<string>weiyun</string>
		<string>xunlei</string>
		<string>mdopen</string>
		<string>mdsopen</string>
		<string>flyreader</string>
		<string>novelfm3040luckydog</string>
		<string>baiduboxlite</string>
		<string>quantgroup</string>
		<string>tantanapp</string>
		<string>usagecrazyreaderios</string>
		<string>dingdongneighborhood</string>
		<string>duapp</string>
		<string>hlluapp</string>
		<string>msec</string>
		<string>bosszp</string>
		<string>tuhu</string>
		<string>bdminivideo</string>
		<string>shuqireader</string>
		<string>txvideo</string>
		<string>baiduboxmission</string>
		<string>com.baidu.tieba</string>
		<string>qihooloan</string>
		<string>travelguide</string>
		<string>cainiao</string>
		<string>kaola</string>
		<string>tomas</string>
		<string>secoo</string>
		<string>taoumaimai</string>
		<string>amapuri</string>
		<string>vmall</string>
		<string>miguvideo</string>
		<string>comjia</string>
		<string>bitauto.yicheapp</string>
		<string>yanxuan</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSUserTrackingUsageDescription</key>
	<string>此标识符将用于向您推荐个性化广告。</string>
</dict>
</plist>
